.floating-label {
  position: relative;
  margin-top: 1.5rem;
}

.floating-label input,
.floating-label select {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1rem 0.5rem .5rem 0.5rem;
  font-size: 1rem;
  width: 100%;
  background: transparent;
  position: relative;
  z-index: 1;
}

.floating-label label {
  position: absolute;
  top: 0.5rem;
  left: 0.75rem;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
  background-color: white;
  padding: 0 1rem;
  color: #999;
  font-size: 1rem;
  z-index: 2;
}

.floating-label input:focus + label,
.floating-label input:not(:placeholder-shown) + label,
.floating-label select:focus + label,
.floating-label select:valid + label {
  top: -0.6rem;
  left: 0.5rem;
  font-size: 0.75rem;
  color: #007bff;
  background-color: white;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  z-index: 10;
}

.floating-label select {
  color: #999;
}

.floating-label select option:not(:first-child) {
  color: black;
}

.formDropdowns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 1rem;
  margin-top: 1rem;
}
